argon2-cffi 
async-generator 
attrs 
backcall 
beautifulsoup4
bleach 
blis
bs4
catalogue
certifi
cffi 
chardet==4.0.0
click==7.1.2
colorama 
cymem==2.0.5
decorator 
defusedxml==0.6.0
dill==0.3.3
entrypoints==0.3
Flask==1.1.2
gensim==3.8.3
idna==2.10
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
itsdangerous==1.1.0
jedi 
Jinja2 
joblib==1.0.0
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk==3.5
notebook 
numpy
packaging 
pandas
pandocfilters 
parso==0.7.0
pathy==0.3.5
pickleshare 
preshed==3.0.5
prometheus-client
prompt-toolkit 
pycparser 
pydantic==1.7.3
Pygments 
pyparsing 
pyrsistent
python-dateutil 
pytz==2021.1
pywin32==228
pywinpty 
pyzmq==20.0.0
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
Send2Trash 
six 
smart-open==3.0.0
soupsieve==2.1
spacy==3.0.1
spacy-legacy==3.0.1
srsly==2.4.0
terminado==0.9.2
testpath 
thinc==8.0.1
threadpoolctl==2.1.0
tqdm==4.56.0
traitlets
typer==0.3.2
urllib3==1.26.3
wasabi==0.8.2
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
zipp 
