argon2-cffi 
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
dill==0.3.3
Flask==1.1.2
gensim==3.8.3
Jinja2 
joblib==1.0.0
nltk==3.5
numpy
pandas
regex
requests
scikit-learn
spacy==3.0.1
spacy-legacy==3.0.1
tqdm==4.56.0
urllib3

